@{
    ViewData["Title"] = "Planet Distances";
    var distances = ViewData["Distances"] as Dictionary<string, double>;
}

<h1>@ViewData["Title"]</h1>
<ul>
    @if (distances == null)
    {
        <li>Distances not available</li>
    }
    else
    {
        foreach (var distance in distances)
        {
            <li>@distance.Key: @distance.Value million km</li>
        }
    }
</ul>